@using CupcakeShop.Models
@model CupcakeModel
@{
    ViewBag.Title = "Edit Cupcake";
}
@section inner{
        <div class="inner">
            <header>
                <h1><span id="logo">Share Your Secret Ingredients</span></h1>
            </header>
        </div>
}
<div class="container">
    <div class="row">
        <div class="12u 12u(mobile) special" style="text-align:center">
            <header>
                <h2>Manage Your Cupcake</h2>
            </header>
        </div>
    </div>

    @using (Html.BeginForm("Edit", "Cupcake", FormMethod.Post, new { Id = Model.Id }))
    {
        @Html.Partial("_CreateOrUpdate", Model)
        <div class="row">
            <div class="submit-button">
                <input type="submit" class="confirm" value="Update" />
            </div>
        </div>
    }
</div>
